{% extends 'base.html'%}
{% block content %}

<h1 style="text-align: center; color: #ffffff;">HOME</h1>

{% if user.is_authenticated %}
<p class="centered-text" style="font-size: 18px; color: #b6b4b4;">¡BIENVENIDO! {{user.username}} </p>
{% else %}
<p class="centered-text" style="font-size: 18px; color: #b6b4b4;">¡BIENVENIDO!</p>
<p class="centered-text" style="font-size: 16px; color: #c0c0c0;">Ingresa con tus datos o regístrate para continuar</p>
{% endif %}

<!-- Imagen con borde redondeado y centrada -->
<img src="https://static.wixstatic.com/media/9c808c_32d2e8877a334b3593c7120840168131~mv2.gif"
    alt="GIF animado de bienvenida" width="600" class="rounded-image"
    style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-top: 20px;">

{% endblock %}