{% extends 'base.html' %}
{% block content %}

<h1 style="text-align: center; color: #333; margin-bottom: 20px;">{{task.title}}</h1>

<!-- Mostrar errores si existen -->
{% if error %}
<p style="color: red; text-align: center;">{{error}}</p>
{% endif %}

<!-- Formulario de actualización de tarea -->
<form action="" method="POST" style="margin-bottom: 20px;">
    {% csrf_token %}
    <div style="text-align: center;">{{form.as_p}}</div>
    <div style="text-align: center;">
        <button
            style="background-color: #555; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;">
            Update
        </button>
    </div>
</form>

<!-- Formulario para completar tarea, si aún no ha sido completada -->
{% if task.decompleted == None %}
<form action="{% url 'complete_task' task.id %}" method="POST" style="margin-bottom: 20px;">
    {% csrf_token %}
    <div style="text-align: center;">
        <button
            style="background-color: #28a745; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;">
            Complete
        </button>
    </div>
</form>
{% endif %}

<!-- Formulario para eliminar tarea -->
<form action="{% url 'delated_task' task.id %}" method="POST">
    {% csrf_token %}
    <div style="text-align: center;">
        <button
            style="background-color: #dc3545; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;">
            Delete
        </button>
    </div>
</form>

{% endblock %}