{% extends 'base.html' %}

{% block content %}

<h1 class="page-title">Tareas</h1>

<ul class="task-list">
    {% for tarea in task %}
    <li class="task-item">
        <a href="{% url 'task_detail' tarea.id %}" class="task-link">
            {% if tarea.important %}
            <h2 class="task-title important">{{tarea.title}}</h2>
            {% else %}
            <h2 class="task-title normal">{{tarea.title}}</h2>
            {% endif %}
            <div class="task-details">
                <h4>Descripción</h4>
                <p>{{tarea.description}}</p>
                <h4>Creado</h4>
                <p>{{tarea.created}}</p>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>

<div class="create-task">
    <form action="/task/create/">
        <button class="btn-create">Crear tarea</button>
    </form>
</div>

{% endblock %}